[init]
	defaultBranch = main
[user]
	name = Josh Taylor
	username = joshbtay
	email = jtaylor11@atlassian.com
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[alias]
	stashu = "!git stash push -S; git stash -u; git stash pop --index stash@{1}"
	stashi = "!git stash push -S"
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true


[merge]
	conflictStyle = zdiff3
	autoStash = true
[rebase]
	autoStash = true
[trace2]
	eventTarget = af_unix:/Users/jtaylor11/.gittrace/trace.sock
	eventBrief = true
	eventNesting = 1
	configparams = custom.metacommands
[core]
	preloadIndex = true
	fscache = true
[index]
	version = 4
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[afm]
	binPathManagerScriptHash = ab5ec9869dbea881228a25f30eff8e3b23988bba
	binPathManagerScriptTimestamp = 1786693702
	legacyAfmPackageCleanupV2 = true
